# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing and analyzing data

In [2]:
# Define path
path = r'/Users/elisabetta/Documents/12-2022 Instacart Basket Analysis'

In [3]:
# STEP 3 Import orders_products_combined.pkl
df_ords_prods_combi = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
#STEP 4 Check shape
df_ords_prods_combi.shape

(32434489, 11)

In [5]:
df_ords_prods_combi.head()

,Unnamed: 0,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
# Import products_checked_V2.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked_V2.csv'), index_col = False)

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,price
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# PLEASE NOTE: I tried to clean out column Unnamed: 0 but it keeps reappearing in all dataframes

In [9]:
# Try to drop Unnamed: 0 again
df_ords_prods_combi = df_ords_prods_combi.drop(columns = ['Unnamed: 0'])
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
# Drop column _merged in df_ords_prods_combi otherwise current merge won't work
df_ords_prods_combi = df_ords_prods_combi.drop(columns = ['_merge'])

In [11]:
# STEP 5 Merge dataframes df_ords_prods_combi and df_prods on column product_id
df_merged_combi_prods = df_ords_prods_combi.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
# Check output
df_merged_combi_prods.head()

,order_id,user_id,number_of_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,price,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [13]:
# STEP 6 Confirm merge results using merge flag
df_merged_combi_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# STEP 7 Export to pickle file
df_merged_combi_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))